APScheduler==2.1.1
Django==1.5.1
Faker==0.0.4
PyTumblr==0.0.5
South==0.8.1
args==0.1.0
clint==0.3.3
cssselect==0.9.1
dj-database-url==0.2.2
dj-static==0.0.5
django-social-auth==0.7.25
django-tastypie==0.9.15
docopt==0.4.0
gunicorn==17.5
httplib2==0.8
jellyfish==0.2.0
lxml==3.2.3
mailchimp==2.0.7
mimeparse==0.1.3
nodeenv==0.6.6
oauth2==1.5.211
oauthlib==0.6.0
psycopg2==2.5.1
pyquery==1.2.6
python-dateutil==2.1
python-openid==2.2.5
pytz==2013.7
requests==0.14.0
requests-oauthlib==0.3.2
six==1.3.0
static==0.4
sunlight==1.2.1
twython==3.1.0
us==0.7
wsgiref==0.1.2
