{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>STEAM mapped</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Antenna -->
        <link href="//cloud.webtype.com/css/016ff586-7e05-4ccb-9549-e0a02162d01c.css" rel="stylesheet" type="text/css" />
        <!-- Sentinel -->
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/641934/792222/css/fonts.css" />
        <!-- MapBox -->
        <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />

        <link rel="stylesheet" href="{% static "styles/css/site.css" %}">

        <script src="{% static "js/lib/modernizr-2.6.2.min.js"%}"></script>
    </head>
    <body>
        <!--[if lt IE 9]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <nav class="z-100 clearfix">
            {% include 'steam/main-nav.html' %}
        </nav>

        <!-- humble host of the button to add oneself -->
        <div id="activate-add-yourself" class="z-10 hide-til-active active">
            {% include 'steam/orb.html' %}
            <p class="add-me hide-til-active">Add me!</p>
        </div>


        <!-- home of the map -->
        <section id="steam-map" class="fullscreen z-0 active"></section>


        <!-- home of the network graph -->
        <section id="steamie-network" class="fullscreen z-100 canvas-wrapper"></section>


        <!-- houses buttons for filtering map and network -->
        <div class="filter_bar z-150">
            <h3 class="filter-by">filter by:</h3>
        </div>

        <div class="profile-link z-150 hide-til-active clickable">
            <img src="" alt="" class="avatar">
        </div>

        
        <!-- modal for adding oneself -->
        <section id="modal" class="fullscreen z-200 modal">
            <div id="modal-animation"
                 class="modal-animation"></div>
            <div class="grid full-width clearfix modal-wrapper">

                    <div class="four-column offset-one clearfix">

                        <header class="modal-header">
                            <h1 id="modal-header-join"
                                class="hide-til-active"
                                >Join the Movement</h1>
                            <h1 id="modal-header-thanks"
                                class="hide-til-active"
                                >Thank you!</h1>
                            <h1 id="modal-header-logging-off"
                                class="hide-til-active"
                                >Signing off.</h1>
                            <div id="modal-header-avatar"
                                class="hide-til-active modal-header-avatar">
                                <img src="" alt=""
                                     class="avatar">
                            </div>
                        </header>

                        <div class="modal-content">
                            
                            <section id="call-to-action"
                                 class="hide-til-active clearfix">
                                <p>Add yourself to the map to show members of congress that people in their districts think art and design education is critical to innovation in the 21st century.</p>
                                
                                <div class="center-in-parent">
                                   <p>sign in with:</p>
                                    <div id="add-yourself-login"></div>
                                </div>
                                
                                <p id="auth-me-button"
                                   class="large button four-column-four"
                                   >Next</p>
                             </section>

                            <section id="choose-type-add-zip"
                                  class="hide-til-active clearfix choose-type-add-zip">
                                 
                                <div class="four-column-four modal-header-avatar">
                                    <img src="" alt=""
                                         id="choose-type-add-zip-avatar"
                                         class="avatar">
                                </div>

                                <div class="four-column-four sel-type"
                                     id="select-type-component">
                                    
                                </div>

                                <div class="four-column-four sel-geo"
                                     id="add-yourself-geo">
                                </div>

                                <div class="four-column-four sel-work-in"
                                     id="select-work-in-component">
                                    
                                </div>

                                <p id="add-me-button"
                                   class="large button four-column-four"
                                   >Add me!</p>
                            </section>

                            <section id="thank-you"
                                 class="hide-til-active clearfix">

                                <div class="four-column-four modal-header-avatar">
                                    <img src="" alt=""
                                         id="choose-type-add-zip-avatar"
                                         class="avatar">
                                </div>
                                <p id="go-to-profile"
                                   class="large button four-column-four"
                                   >Go to Profile</p>
                            </section>

                            <section id="profile-individual"
                                 class="hide-til-active clearfix">

                                 
                            </section>

                            <section id="profile-institution"
                                 class="hide-til-active clearfix">

                            </section>
                            
                        </div>

                    </div>

                    <div class="one-column omega">
                        <div id="close-modal"
                             class="close-button hide-til-active active"></div>    
                    </div>
            </div>
        </section>

        <script src="{% static "js/dist/delegate.js" %}"></script>
        <script src="{% static "js/dist/libs.js" %}"></script>
        <script src='//api.tiles.mapbox.com/mapbox.js/v1.5.1/mapbox.standalone.js'></script>
        <script src="{% static "js/dist/site.js" %}"></script>
    </body>
</html>
