{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>STEAM mapped</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Antenna -->
        <link href="//cloud.webtype.com/css/016ff586-7e05-4ccb-9549-e0a02162d01c.css" rel="stylesheet" type="text/css" />
        <!-- Sentinel -->
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/641934/792222/css/fonts.css" />

        <link rel="stylesheet" href="{% static "styles/css/normalize.css" %}">
        <link rel="stylesheet" href="{% static "js/lib/leaflet-0.6.3/leaflet.css" %}">
        <link rel="stylesheet" href="{% static "js/lib/leaflet-0.6.3/markerclusterer/MarkerCluster.css" %}">
        <link rel="stylesheet" href="{% static "js/lib/leaflet-0.6.3/markerclusterer/MarkerCluster.Default.css" %}">

        <link href='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.css' rel='stylesheet' />

        <link rel="stylesheet" href="{% static "styles/css/main.css" %}">

        <script src="{% static "js/lib/modernizr/modernizr-2.6.2.min.js"%}"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- Add your site or application content here -->
        <header class="z-100 full-width row clearfix">
            <h1>steam</h1>
            <nav>
            </nav>
        </header>

        <!-- humble host of the button to add oneself -->
        <div id="activate-add-yourself" class="z-10">+</div>


        <!-- home of the map -->
        <div id="steam-map" class="fullscreen z-0 active"></div>


        <!-- home of the network graph -->
        <div id="steamie-network" class="fullscreen z-100"></div>


        <!-- houses buttons for filtering map and network -->
        <div class="filter_bar z-150">
            <h3 class="filter-by">filter by:</h3>
        </div>

        
        <!-- modal for adding oneself -->
        <div id="modal" class="fullscreen z-200 hide-til-active modal">
            <div class="modal-wrapper">

                    <div class="modal-main-area column">

                        <div class="modal-header">
                            <h1>Join the Movement</h1>
                        </div>

                        <div class="modal-content">
                            
                            <div id="call-to-action"
                                 class="hide-til-active modal-content">
                                 <p>Add yourself to the map to show members of congress that people in their districts think art and design education is critical to innovation in the 21st century.</p>
                                 <div class="centered">
                                     <div id="add-yourself-login"
                                          class="hide-til-active modal-content">
                                          <div class="form-type"></div>
                                     </div>
                                 </div>
                             </div>

                            <div id="add-yourself-individual-form-wrapper"
                                 class="hide-til-active modal-content">

                                <label for="individual-first-name">First Name</label>
                                <input type="text"
                                       id="individual-first-name"
                                       data-mapped="first_name">
                                <br>

                                <label for="individual-last-name">Last Name</label>
                                <input type="text"
                                       id="individual-last-name"
                                       data-mapped="last_name">
                                <br>

                                <label for="individual-email">Email</label>
                                <input type="email"
                                       id="individual-email"
                                       data-mapped="email">
                                <br>

                                <label for="individual-zip-code">Zip code</label>
                                <input type="text"
                                       id="individual-zip-code"
                                       data-mapped="zip_code">
                                <br>

                                <div id="individual-submit-button"
                                      class="button submit">Add me, I'm Steamie</div>
                            </div>

                            <div id="add-yourself-institution-form-wrapper"
                                 class="hide-til-active modal-content">

                                <label for="institution-name">Name</label>
                                <input type="text"
                                       id="institution-name"
                                       data-mapped="name">
                                <br>

                                <label for="institution-url">URL</label>
                                <input type="url"
                                       id="institution-url"
                                       data-mapped="url">
                                <br>

                                <label for="institution-zip-code">Zip code</label>
                                <input type="text"
                                       id="institution-zip-code"
                                       data-mapped="zip_code">
                                <br>

                                <label for="individual-representative-first-name">First Name</label>
                                <input type="text"
                                       id="individual-representative-first-name"
                                       data-mapped="representative_first_name">
                                <br>

                                <label for="individual-representative-last-name">Last Name</label>
                                <input type="text"
                                       id="individual-representative-last-name"
                                       data-mapped="representative_last_name">
                                <br>

                                <label for="institution-representative-email"
                                       >Email</label>
                                <input type="email"
                                       id="institution-representative-email"
                                       data-mapped="representative_email">
                                <br>

                                <div id="institution-submit-button"
                                      class="button submit">Add me, I'm Steamie</div>
                            </div>
                            
                        </div>

                        <div class="clearfix row full-width"
                             id="modal-nav">
                            <div id="back-modal-add-yourself"
                                 class="modal-nav-button left hide-til-active">
                                < Back
                            </div>
                        </div>

                    </div>

                    <div class="modal-sidebar column">
                        <div id="close-modal"
                             class="modal-toolbar-button right"></div>
                    </div>

            </div>
        </div>
    
        <script>
        // var DEBUG = true;

        // mapped object holds all map.
        // var mapped = window.mapped = {};

        // mapped.data = {};
        // mapped.data.backend = 'http://{{ backend }}';
        // mapped.data.api_version = '{{ api_version }}';

        </script>
        <!-- <script src="{% static "js/lib/leaflet-0.6.3/leaflet-src.js" %}"></script>
        <script src="{% static "js/lib/leaflet-0.6.3/markerclusterer/leaflet.markercluster-src.js" %}"></script> -->
        <script src='//api.tiles.mapbox.com/mapbox.js/v1.3.1/mapbox.standalone.js'></script>

        <!-- <script src="{% static "js/lib/topojson/topojson.js" %}"></script>
        <script src="{% static "js/lib/d3/d3.v3.2.7.js" %} "></script>
        <script src="{% static "js/lib/lgtm/lgtm-standalone.js" %} "></script>
        <script src="{% static "js/lib/faker/Faker.js" %}"></script> -->

        <!-- <script src="{% static "js/mapped.js" %}"></script> -->
        <script src="{% static "js/dist/site.js" %}"></script>

        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
