{% load staticfiles %}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>STEM to STEAM</title>
        <meta name="description" content="Art + Design are poised to transform our economy in the 21st century just as science and technology did in the last century. We need to add Art + Design to the equation — to transform STEM into STEAM.">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <!-- Antenna -->
        <link href="//cloud.webtype.com/css/016ff586-7e05-4ccb-9549-e0a02162d01c.css" rel="stylesheet" type="text/css" />
        <!-- Sentinel -->
        <link rel="stylesheet" type="text/css" href="//cloud.typography.com/641934/792222/css/fonts.css" />

        <link rel="stylesheet" href="{% static "styles/css/site.css" %}">

        <script src="{% static "js/lib/modernizr.custom.js"%}"></script>
        <!--[if lt IE 9]>
        <script type="text/javascript" src="{% static "js/dist/html5shiv.js" %}"></script>
        <script type="text/javascript" src="{% static "js/dist/aight.min.js" %}"></script>
        <![endif]-->
    </head>
    <body>
        <!--[if lt IE 9]>
        <div class="outdated">
            <div class="grid full-width clearfix">
                <div class="two-column offset-one">
                    <h1 class="title"
                    >STEM to STEAM</h1>
                </div>
                <div class="two-column">
                    <p>You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
                </div>
            </div>
        </div>
        <![endif]-->

        <div id="activate-about"
             class="top-left z-250 button-activate active">
             <h1 class="title"
             >STEM to STEAM</h1>
        </div>

        <!-- humble host of the button to add oneself -->
        <div id="activate-add-yourself" class="z-10 button-activate bottom-left">
            <p class="add-me hide-til-active active">Add Me!</p>
        </div>

        <div id="loading"
             class="loading hide-til-active active z-10 bottom-left">
                {% include 'steam/orb.html' %}
        </div>

        <div id="profile-link"
             class="bottom-left z-150 button-activate">
            <img src="" alt="" class="avatar">
        </div>


        <!-- home of the map -->
        <section id="steam-map" class="fullscreen z-0 active"></section>


        <!-- home of the network graph -->
        <section id="steamie-network" class="fullscreen animate-in-out modal z-100 canvas-wrapper"></section>


        <!-- houses buttons for filtering map and network -->
        <div class="filter-bar z-150">
            <header class="filter-bar-header">
                <div class="collapse"></div>
                <h3 class="filter-by">filter by:</h3>
            </header>
        </div>

        
        <!-- modal for adding oneself -->
        <section id="modal" class="fullscreen z-200 modal animate-out-in">
            <div id="modal-animation"
                 class="modal-animation"></div>
            <div class="grid full-width clearfix modal-wrapper">

                    <div class="four-column offset-one clearfix">

                        <header class="modal-header">
                            <h1 id="modal-header-join"
                                class="hide-til-active modal-header-content modal-header-text"
                                >Join the Movement</h1>
                            <h1 id="modal-header-thanks"
                                class="hide-til-active modal-header-content modal-header-text"
                                >Thank You!</h1>
                            <h1 id="modal-header-logging-out"
                                class="hide-til-active modal-header-content modal-header-text"
                                >Signing Out</h1>
                            <h1 id="modal-header-about"
                                class="hide-til-active modal-header-content modal-header-text"
                                >STEM to STEAM</h1>
                            <div id="modal-header-avatar"
                                class="hide-til-active modal-header-avatar modal-header-content">
                                <img src="" alt=""
                                     class="avatar">
                            </div>
                            <div class="close-button tablet hide-til-active active modal-header-button"></div>
                        </header>

                        <div class="modal-content">

                            <section id="about"
                                class="hide-til-active clearfix">
                                <p>The problem-solving, the fearlessness, and critical thinking and making skills that define an art and design education fosters the creativity that will keep our country innovating, and their development needs to start in the K-12 schools. Creativity is the new literacy, and we need a well-rounded education system that develops the skills our economy needs.</p>
                                
                                <a id="about_to_action"
                                   class="button-large four-column-four enabled hide-til-active"
                                   >Add Me</a>

                            </section>
                            
                            <section id="call-to-action"
                                 class="hide-til-active clearfix">
                                <div class="four-column-two clearfix">
                                    <p>Add your organization and yourself to the map to show members of congress that people in their districts think art and design education is critical to innovation in the 21st century.</p>
                                </div>
                                <div class="four-column-two clearfix omega">
                                    <div>
                                       <p>Sign your organization or yourself in with:</p>
                                        <div id="add-yourself-login"></div>
                                    </div>
                                    
                                    <div id="auth-me-button"
                                       class="next-button four-column-four">
                                       <p>Next</p>
                                   </div>
                                </div>

                             </section>

                            <section id="choose-type-add-zip"
                                  class="hide-til-active clearfix choose-type-add-zip">
                                 
                                <div class="four-column-four modal-header-avatar">
                                    <img src="" alt=""
                                         id="choose-type-add-zip-avatar"
                                         class="avatar">
                                </div>

                                <div class="four-column-four sel-type"
                                     id="select-type-component">
                                    
                                </div>

                                <div class="four-column-four sel-geo"
                                     id="add-yourself-geo">
                                </div>

                                <div class="four-column-four sel-work-in"
                                     id="select-work-in-component">
                                    
                                </div>

                                <p id="add-me-button"
                                   class="button-large four-column-four"
                                   >Add me!</p>

                                <p id="cancel-add-button"
                                   class="cancel-add-button four-column-four"
                                   >Cancel</p>
                            </section>

                            <section id="thank-you"
                                 class="hide-til-active clearfix">

                                <div class="four-column-four modal-header-avatar">
                                    <img src="" alt=""
                                         id="choose-type-add-zip-avatar"
                                         class="avatar">
                                </div>

                                <div id="explore-locate-me"
                                   class="button-explore-region four-column-two offset-one enabled"
                                   >
                                   <p>Locate Me</p>
                               </div>

                                <div id="explore-map"
                                   class="button-explore-map four-column-two offset-one enabled"
                                   >
                                   <p>Explore the map</p>
                               </div>
                                <div id="go-to-profile"
                                   class="button-go-to-profile four-column-two offset-one enabled"
                                   >
                                   <p>My Profile</p>
                               </div>
                            </section>

                            <section id="profile-individual"
                                 class="hide-til-active clearfix">

                                 
                            </section>

                            <section id="profile-institution"
                                 class="hide-til-active clearfix">

                            </section>
                            
                        </div>

                    </div>

                    <div class="one-column omega">
                        <div id="close-modal"
                             class="close-button desktop hide-til-active active"></div>    
                    </div>
            </div>
        </section>

         <script>
         Modernizr.load({
            test: Modernizr.svg,
            yep: ['{% static "js/dist/libs.js" %}',
                  '{% static "js/dist/site.js" %}'],
            nope: []
         });
         </script>
        <script type="text/javascript">
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-34702353-1', 'map.stemtosteam.org');
          ga('send', 'pageview');

        </script>
    </body>
</html>
