.no-csstransitions .next-button {
  display: none; }
  .no-csstransitions .next-button.enabled {
    display: block; }
.no-csstransitions .animate-out-in.modal {
  display: none; }
  .no-csstransitions .animate-out-in.modal.active {
    display: block; }
.no-csstransitions .animate-in-out.modal {
  display: none; }
  .no-csstransitions .animate-in-out.modal.active {
    display: block; }
