.no-csstransitions .next-button {
  display: none; }
  .no-csstransitions .next-button.enabled {
    display: block; }
.no-csstransitions .animate-out-in.modal {
  display: none; }
  .no-csstransitions .animate-out-in.modal.active {
    display: block; }
.no-csstransitions .animate-in-out.modal {
  display: none; }
  .no-csstransitions .animate-in-out.modal.active {
    display: block; }

.no-svg #activate-about,
.no-svg #activate-add-yourself,
.no-svg #loading,
.no-svg #steamie-network,
.no-svg .filter-bar,
.no-svg #steam-map,
.no-svg #modal,
.no-svg .modal-wrapper {
  display: none; }
