/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
html,
button,
input,
select,
textarea {
  color: #222; }

body {
  font-size: 1em;
  line-height: 1.4; }

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */
img {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */
.chromeframe {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html, body {
  margin: 0;
  padding: 0;
  position: relative;
  height: 100%;
  width: 100%; }

header {
  margin: 0;
  padding: 0;
  background: transparent; }

header:hover {
  background: rgba(0, 0, 0, 0.5); }

.full-width {
  width: 100%; }

.row {
  float: left;
  position: relative; }

.fullscreen {
  position: absolute;
  top: 0;
  bottom: 0;
  height: 100%;
  width: 100%;
  display: none;
  background: rgba(200, 200, 200, 0.5); }

.fullscreen.active {
  display: block; }

.modal {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%; }

.modal.active {
  display: block; }

.modal-wrapper {
  position: relative;
  width: 80%;
  max-width: 600px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5); }

.modal-toolbar-button {
  padding: 10px;
  cursor: pointer; }

.modal-toolbar-button.left {
  float: left; }

.modal-toolbar-button.right {
  float: right; }

.hide-til-active {
  display: none; }

.hide-til-active.active {
  display: block; }

.clickable {
  cursor: pointer; }

.z-0 {
  z-index: 0;
  /*cursor: move;*/ }

.z-10 {
  z-index: 10; }

.z-100 {
  z-index: 100; }

.z-150 {
  z-index: 150; }

.z-200 {
  z-index: 200; }

#steamie-network .button {
  position: absolute;
  top: 100px;
  right: 100px;
  cursor: pointer; }

/************
Global filters
*/
.filter_bar {
  position: absolute;
  top: 200px; }

.filter_bar .button {
  opacity: 0.2; }

.filter_bar .button.active {
  opacity: 1.0; }

h3.filter-by {
  font-family: Sentinel;
  font-weight: light;
  font-size: 22px;
  color: #a5a5a5; }

.button.res {
  background: #69e640; }

.button.pol {
  background: #ff61e3; }

.button.edu {
  background: #ff8931; }

.button.ind {
  background: #27b4f2; }

/* end global filters */
/************
Leaflet map styles
*/
.leaflet-top {
  top: 120px; }

.leaflet-left {
  left: 40px; }
  .leaflet-left .leaflet-control {
    margin: 0; }
  .leaflet-left .leaflet-bar {
    border: none; }
  .leaflet-left .leaflet-control-zoom-in {
    height: 25px;
    width: 25px;
    border-radius: 12.5px; }
  .leaflet-left .leaflet-control-zoom-in {
    height: 25px;
    width: 25px;
    border-radius: 12.5px; }

/* end Leaflet map styles */
/************
Leaflet Marker Cluster Styles
*/
.marker-cluster div {
  background-color: rgba(78, 91, 109, 0.8); }

.mc-2-digit {
  border-radius: 29px; }
  .mc-2-digit div {
    margin: 11px;
    height: 36px;
    width: 36px;
    border-radius: 18px; }
  .mc-2-digit span {
    line-height: 36px;
    font-family: AntennaComp;
    font-weight: Medium;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: white; }
  .mc-2-digit div.arc-wrapper {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 58px;
    width: 58px;
    background-color: transparent;
    margin: 0; }

.mc-3-digit {
  border-radius: 32px; }
  .mc-3-digit div {
    margin: 11px;
    height: 42px;
    width: 42px;
    border-radius: 21px; }
  .mc-3-digit span {
    line-height: 42px;
    font-family: AntennaComp;
    font-weight: Medium;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: white; }
  .mc-3-digit div.arc-wrapper {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 64px;
    width: 64px;
    background-color: transparent;
    margin: 0; }

.mc-4-digit {
  border-radius: 36px; }
  .mc-4-digit div {
    margin: 11px;
    height: 50px;
    width: 50px;
    border-radius: 25px; }
  .mc-4-digit span {
    line-height: 50px;
    font-family: AntennaComp;
    font-weight: Medium;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: white; }
  .mc-4-digit div.arc-wrapper {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 72px;
    width: 72px;
    background-color: transparent;
    margin: 0; }

.mc-5-digit {
  border-radius: 38px; }
  .mc-5-digit div {
    margin: 11px;
    height: 54px;
    width: 54px;
    border-radius: 27px; }
  .mc-5-digit span {
    line-height: 54px;
    font-family: AntennaComp;
    font-weight: Medium;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: white; }
  .mc-5-digit div.arc-wrapper {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 76px;
    width: 76px;
    background-color: transparent;
    margin: 0; }

.mc-6-digit {
  border-radius: 41.5px; }
  .mc-6-digit div {
    margin: 11px;
    height: 61px;
    width: 61px;
    border-radius: 30.5px; }
  .mc-6-digit span {
    line-height: 61px;
    font-family: AntennaComp;
    font-weight: Medium;
    font-size: 26px;
    text-align: center;
    letter-spacing: 1px;
    color: white; }
  .mc-6-digit div.arc-wrapper {
    border-radius: 0;
    position: absolute;
    top: 0;
    left: 0;
    height: 83px;
    width: 83px;
    background-color: transparent;
    margin: 0; }

/* end Leaflet Marker Cluster Styles */
/************
d3 top_level outline
*/
.top_level_svg {
  display: none; }

.top_level_svg.active {
  display: block; }

.top_level {
  stroke: transparent;
  stroke-width: 0;
  stroke-linecap: round;
  fill: transparent; }

.top_level.active {
  stroke: black;
  /*stroke-width: 3px;*/
  fill: #c8c8c8; }

/* end d3 svg */
/************
network graph
*/
/* all nodes  */
.node {
  cursor: pointer; }

/* network nodes representing institutions  */
.node.g {
  stroke: black;
  stroke-width: 2; }

/* network nodes representing individuals  */
.node.i {
  stroke: 0; }

.node.res {
  fill: #69e640; }

.node.pol {
  fill: #ff61e3; }

.node.edu {
  fill: #ff8931; }

.node.ind {
  fill: #27b4f2; }

/************
form
*/
#activate-add-yourself {
  position: absolute;
  top: 97px;
  left: 10px;
  background-color: red;
  height: 26px;
  width: 26px;
  cursor: pointer; }

input {
  font-size: 12px;
  padding: 5px; }

.button {
  padding: 20px;
  background: yellow;
  border-radius: 2px;
  cursor: pointer; }

/* end form */
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Image replacement
 */
.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback */
  *text-indent: -9999px; }

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%; }

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screenreaders, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
  *zoom: 1; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */
@media print {
  * {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links for images, or javascript/internal links
   */
  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  thead {
    display: table-header-group;
    /* h5bp.com/t */ }

  tr,
  img {
    page-break-inside: avoid; }

  img {
    max-width: 100% !important; }

  @page {
    margin: 0.5cm; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
