.next-button {
    opacity: 0;
    margin-top: 0px;

    background-color: transparent;

    @include transitionSeperate(
            (opacity, margin-top),
            (0.3s),
            (0s),
            (cubic-bezier(.95, .05, .795, .035)));

    & p{
        padding:0.25em 0em;
    }

    &:active{
        background:$color-slate-dark;
    }

    &.enabled {
        opacity: 1;
        margin-top: 20px;
        background:white;
        color:$color-slate;

        @include transitionSeperate(
                    (opacity, margin-top),
                    (0.2s),
                    (0s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }
}

.button-activate {
    opacity: 0;
    
    @include transitionSeperate(
                (opacity),
                (0.3s),
                (0s),
                (cubic-bezier(.95, .05, .795, .035)));

    &.active {
        opacity: 1;

        @include transitionSeperate(
                    (opacity),
                    (0.2s),
                    (0s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }
}
.bottom-left {
    left: -100%;

    @include transitionSeperate(
                (left),
                (0.0s),
                (0.3s),
                (cubic-bezier(.95, .05, .795, .035)));

    &.active {
        left: 30px;

        @include transitionSeperate(
                    (left),
                    (0.0s),
                    (0.3s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }
}

.animate-out-in.modal {
    -webkit-transform: scale(1.5) translateY(-20px);
    -moz-transform: scale(1.5) translateY(-20px);
    -ms-transform: scale(1.5) translateY(-20px);
    -o-transform: scale(1.5) translateY(-20px);
    transform: scale(1.5) translateY(-20px);

    @include transitionSeperate(
                (top, background-color, opacity),
                (0s, 0.3s, 0.3s, 0.3s),
                (0.3s, 0s, 0s, 0s),
                (cubic-bezier(.95, .05, .795, .035)),
                (', transform'),
                (', -o-transform'),
                (', -ms-transform'),
                (', -moz-transform'),
                (', -webkit-transform'));

    &.active {
        -webkit-transform: scale(1.0) translateY(0px);
        -moz-transform: scale(1.0) translateY(0px);
        -ms-transform: scale(1.0) translateY(0px);
        -o-transform: scale(1.0) translateY(0px);
        transform: scale(1.0) translateY(0px);

        @include transitionSeperate(
                    (top, background-color, opacity),
                    (0s, 0.2s, 0.2s, 0.2s),
                    (0s, 0s, 0s, 0s),
                    (cubic-bezier(.95, .05, .795, .035)),
                    (', transform'),
                    (', -o-transform'),
                    (', -ms-transform'),
                    (', -moz-transform'),
                    (', -webkit-transform'));
    }
}
.animate-in-out.modal {
    background: rgba($white, 0.0);
    border-radius: 100%;
    -webkit-transform: scale(0) translateY(-50px);
    -moz-transform: scale(0) translateY(-50px);
    -ms-transform: scale(0) translateY(-50px);
    -o-transform: scale(0) translateY(-50px);
    transform: scale(0) translateY(-50px);

    @include transitionSeperate(
                (top, background-color, opacity, border-radius),
                (0s, 0.0s, 0.3s, 0.3s, 0.3s),
                (0.3s, 0s, 0s, 0s, 0s),
                (cubic-bezier(.95, .05, .795, .035)),
                (', transform'),
                (', -o-transform'),
                (', -ms-transform'),
                (', -moz-transform'),
                (', -webkit-transform'));

    &.active {
        background: rgba($white, 0.9);
        border-radius: 0;
        -webkit-transform: scale(1.0) translateY(0px);
        -moz-transform: scale(1.0) translateY(0px);
        -ms-transform: scale(1.0) translateY(0px);
        -o-transform: scale(1.0) translateY(0px);
        transform: scale(1.0) translateY(0px);

        @include transitionSeperate(
                    (top, opacity, background-color, border-radius),
                    (0s, 0.2s, 0s, 0.2s, 0.2s),
                    (0s, 0s, 0.2s, 0s, 0s),
                    (cubic-bezier(.95, .05, .795, .035))
                    (', transform'),
                    (', -o-transform'),
                    (', -ms-transform'),
                    (', -moz-transform'),
                    (', -webkit-transform'));
    }
}

.button-large,
.save-button,
.logout-button {
    @include transitionSeperate(
                (background-color, color),
                (0.3s),
                (0s),
                (cubic-bezier(.95, .05, .795, .035)));

    &.enabled {
        @include transitionSeperate(
                    (background-color, color),
                    (0.2s),
                    (0s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }
}

.loading {
    left: -200%;
    opacity: 0;

    @include transitionSeperate(
                (opacity, left),
                (0.3s, 0.0s),
                (0s, 0.3s),
                (cubic-bezier(.95, .05, .795, .035)));

    svg {
        @include transitionSeperate(
                    (opacity, left),
                    (0.3s, 0.0s),
                    (0s, 0.3s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }


    &.active {
        left: 30px;
        opacity: 1;

        @include transitionSeperate(
                    (opacity, left),
                    (0.2s, 0.0s),
                    (0s, 0s),
                    (cubic-bezier(.95, .05, .795, .035)));

        svg {
            left: auto;
            opacity: 1;

            @include transitionSeperate(
                        (opacity, left),
                        (0.2s, 0.0s),
                        (0s, 0s),
                        (cubic-bezier(.95, .05, .795, .035)));
        }
    }
}

.arc-wrapper{
    @include animation(slowSpin,
                       12s,
                       0s,
                       linear,
                       infinite,
                       (normal))
}

.network-display-button,
.network-display-button,
.network-display-button {
    rect,
    line,
    circle {
        @include transitionSeperate(
                    (color),
                    (0.3s),
                    (0.0s),
                    (cubic-bezier(.95, .05, .795, .035)));
    }
    &:hover {
        rect,
        line,
        circle {
            @include transitionSeperate(
                        (color),
                        (0.2s),
                        (0.0s),
                        (cubic-bezier(.95, .05, .795, .035)));
        }
    }
}

@-webkit-keyframes slowSpin{
    0%    {
        -webkit-transform: rotate(0deg);
    }
    100%  {
        -webkit-transform: rotate(360deg);
    }
}