@mixin sentinel {
    font-family: 'Sentinel SSm A', 'Sentinel SSm B';
    font-weight: 400;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
}

@mixin antenna-bold {
    font-family: "Antenna Comp";
    font-style: normal;
    font-weight: bold;
    
    -webkit-font-smoothing: antialiased;
}

@mixin antenna-medium {
    font-family: "Antenna Comp Medium";
    font-style: normal;
    font-weight: normal;
    
    -webkit-font-smoothing: antialiased;
}

// colors
$color-research: rgb(105,230,64);
$color-political: rgb(255,97,127);
$color-education: rgb(255,137,49);
$color-industry: rgb(39,180,242);
$color-slate: rgb(81,98,114);
$white: rgb(255,255,255);
$off-white: rgb(200,200,200);
$off-black: rgb(30,30,30);

// overlay colors
$fullscreen-color-opacity: 0.8;