/*
----DESKTOP SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/ 
@media only screen and (min-width:1024px){
    .close-button.tablet {
        display: none;
    }
    .close-button.desktop {
        display: block;
    }
}


/*
----TABLET SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/ 
@media only screen and (max-width:1024px){
    .modal-wrapper {
        margin-top: 30px;
    }
    .modal-header-text.active {
        width: 90%;
    }
    .close-button.tablet {
        display: inline-block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: scale(0.8);
    }
    .close-button.desktop {
        display: none;
    }
    .canvas-wrapper .close-button {
        margin-top: -6px;
    }
}


/*
----MOBILE SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/
@media only screen and (min-width:320px) and (max-width:600px){
    .modal-header-avatar {
        text-align: left;
    }
    .close-button.tablet {
        -webkit-transform: scale(0.7);
    }
    .modal-header-content.active {
        display: inline-block;
    }
    .modal-header h1 {
        font-size: 80px;
        line-height: 80px;
    }
    .modal-header-text.active {
        margin-top: 40px;
    }
    .modal-header-content {
        width: 80%;
    }
    .modal-header-text {
        text-align: left;
    }
    .modal-header-avatar {
        text-align: left;
    }
    .modal-header-button {
        text-align: right;
        width: 20%;
    }
    .four-column-one,
    .four-column-two,
    .four-column-three,
    .four-column-four,
    .input-select,
    .input-text,
    .sel-work-in .type-option {
        width: 100%;
        margin-right: 0;
    }
    .main-nav .four-column-one {
        width: 45%;
        margin-right: 2.779862674784%;
    }

    .sel-work-in .type-option {
        margin-bottom: 12px;
    }
    .type-option > span {
        display: inline-block;
    }
    .type-option-label {
        position: relative;
    }
    .type-option-label > .text {
        position: absolute;
        left: 82px;
    }
    .type-option-label > .indicator {
        position: absolute;
        top: 0;
        left: 34px;
        margin-top: 3px;
    }

    input[type=radio] {
        position: relative;
        margin: 0;
        height: 0;
    }
    .canvas-wrapper .four-column {
        margin-top: 40px;
    }
}


// styles for sidebars based on height
@media only screen and (max-height:768px) {
    .leaflet-top {
        // top: 75px;
        top: 10%;
    }
    .filter-bar {
        // top: 155px;
        top: 26%;
        left: 0;

        &.all-active {
            .button.active {
                background-color: rgba($white,
                                       $fullscreen-color-opacity);
            }
        }

        .filter-bar-header {
            cursor: pointer;
            background-color: rgba($white,
                                   $fullscreen-color-opacity);
        }

        // &.collapse {
        //     left: -100%;
        //     overflow: hidden;
        //     h3,
        //     .label {
        //         opacity: 0;
        //     }
        // }

        // h3,
        // .label {
        //     position: relative;
        //     opacity: 1;
        // }

        // h3 {
        //     font-size: 18px;
        //     display: inline-block;
        //     margin-left: 7px;
        // }
        // .collapse {
        //     display: inline-block;
        //     margin-left: 7px;
        // }
        // line {
        //     stroke: $off-white;    
        // }
    }

    .top-right {
        top: 26%;
    }
    .bottom-left {
        bottom: auto;
        // top: 410px;
        top: 80%;
    }
}
@media only screen and (max-height:420px) {
    .leaflet-top {
        top: 50px;
    }
    .leaflet-left {
        left: 23px;
    }
    .filter-bar {
        top: 122px;

        &.all-active {
            .button.active {
                background-color: rgba($white,
                                       $fullscreen-color-opacity);
            }
        }   
    }
    .top-right {
        top: 122px;
    }
    .bottom-left {
        bottom: auto;
        top: 338px;
        -webkit-transform: scale(0.8);
        left: 6px;
    }
}