/*
----DESKTOP SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/ 
@media only screen and (min-width:1024px){
    .close-button.tablet {
        display: none;
    }
    .close-button.desktop {
        display: block;
    }
}


/*
----TABLET SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/ 
@media only screen and (max-width:1024px){
    .modal-wrapper {
        margin-top: 30px;
    }
    .close-button.tablet {
        display: inline-block;
        padding: 0;
        position: absolute;
        right: 0;
        top: 0;
        -webkit-transform: scale(0.8);
    }
    .close-button.desktop {
        display: none;
    }      
}


/*
----MOBILE SPECIFIC STYLES-------------------------------

---------------------------------------------------------
*/
@media only screen and (min-width:320px) and (max-width:600px){
    .modal-header-avatar {
        text-align: left;
    }
    .close-button.tablet {
        -webkit-transform: scale(0.7);
    }
    .modal-header-content.active {
        display: inline-block;
    }
    .modal-header-content {
        width: 80%;
    }
    .modal-header-text {
        text-align: left;
    }
    .modal-header-avatar {
        text-align: left;
    }
    .modal-header-button {
        text-align: right;
        width: 20%;
    }
    .four-column-one,
    .four-column-two,
    .four-column-three,
    .four-column-four,
    .input-select,
    .input-text,
    .sel-work-in .type-option {
        width: 100%;
        margin-right: 0;
    }

    .sel-work-in .type-option {
        margin-bottom: 12px;
    }
    .type-option > span {
        display: inline-block;
    }
    .type-option-label {
        position: relative;
    }
    .type-option-label > span:first-child {
        position: absolute;
        left: 95px;
    }
    .type-option-label > span:last-child {
        position: absolute;
        top: 0;
        left: 50px;
        margin-top: 3px;
    }

    input[type=radio] {
        position: relative;
        margin: 0;
        height: 0;
    }



}