@mixin animation($name,
                 $duration,
                 $timing-function,
                 $delay,
                 $iteration-count,
                 $direction) {

    -webkit-animation-name: $name;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing-function;
    -webkit-animation-delay: $delay;
    -webkit-animation-iteration-count: $iteration-count;
    -webkit-animation-direction: $direction;
    
    -moz-animation-name: $name;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing-function;
    -moz-animation-delay: $delay;
    -moz-animation-iteration-count: $iteration-count;
    -moz-animation-direction: $direction;
    
    -ms-animation-name: $name;
    -ms-animation-duration: $duration;
    -ms-animation-timing-function: $timing-function;
    -ms-animation-delay: $delay;
    -ms-animation-iteration-count: $iteration-count;
    -ms-animation-direction: $direction;
    
    -o-animation-name: $name;
    -o-animation-duration: $duration;
    -o-animation-timing-function: $timing-function;
    -o-animation-delay: $delay;
    -o-animation-iteration-count: $iteration-count;
    -o-animation-direction: $direction;

    animation-name: $name;
    animation-duration: $duration;
    animation-timing-function: $timing-function;
    animation-delay: $delay;
    animation-iteration-count: $iteration-count;
    animation-direction: $direction;
}

@mixin transformOrigin($perX, $perY) {
    -webkit-transform-origin: $perX $perY;
    -moz-transform-origin: $perX $perY;
    -ms-transform-origin: $perX $perY;
    -o-transform-origin: $perX $perY;
    transform-origin: $perX $perY;
}

@mixin scale($size) {
    -webkit-transform: scale($size);
    -moz-transform: scale($size);
    -ms-transform: scale($size);
    -o-transform: scale($size);
    transform: scale($size);
}

@mixin transitionSeperate($property, $duration, $delay, $timing,
                          $-property: "",
                          $o-property: "",
                          $ms-property: "",
                          $moz-proptery: "",
                          $webkit-property: "") {
    
    -o-transition-property: $property #{$o-property};
    -o-transition-duration: $duration;
    -o-transition-delay: $delay;
    -o-transition-timing-function: $timing;
    -ms-transition-property: $property #{$ms-property};
    -ms-transition-duration: $duration;
    -ms-transition-delay: $delay;
    -ms-transition-timing-function: $timing;
    -moz-transition-property: $property #{$moz-proptery};
    -moz-transition-duration: $duration;
    -moz-transition-delay: $delay;
    -moz-transition-timing-function: $timing;
    -webkit-transition-property: $property #{$webkit-property};
    -webkit-transition-duration: $duration;
    -webkit-transition-delay: $delay;
    -webkit-transition-timing-function: $timing;
    transition-property: $property #{$-property};
    transition-duration: $duration;
    transition-delay: $delay;
    transition-timing-function: $timing;
}

@mixin transition($what, $length, $easing) {
    -webkit-transition: $what $length $easing;
    -moz-transition:    $what $length $easing;
    -ms-transition:     $what $length $easing;
    -o-transition:      $what $length $easing;
    transition:         $what $length $easing;
}

@mixin rotate($deg: 0, $m11: 0, $m12: 0, $m21: 0, $m22: 0) {
     -moz-transform: rotate($deg + deg);
       -o-transform: rotate($deg + deg);
  -webkit-transform: rotate($deg + deg);
      -ms-transform: rotate($deg + deg);
          transform: rotate($deg + deg);
             filter: progid:DXImageTransform.Microsoft.Matrix(
                     M11=#{$m11},
                     M12=#{$m12},
                     M21=#{$m21},
                     M22=#{$m22},
                     sizingMethod='auto expand');
               zoom: 1;
}