.no-csstransitions {
    .next-button {
        display: none;

        &.enabled {
            display: block;
        }
    }

    .animate-out-in.modal {
        display: none;

        &.active {
            display: block;
        }
    }
    .animate-in-out.modal {
        display: none;

        &.active {
            display: block;
        }
    }
}

.no-svg {
    #activate-about,
    #activate-add-yourself,
    #loading,
    #steamie-network,
    .filter-bar,
    #steam-map,
    #modal,
    .modal-wrapper {
        display: none;
    }

    .outdated {
        text-align:center;
    }

    p{
        font-family:georgia, times, serif;
        font-size:20px;
        line-height:29px;
        padding:1em;
        color:#282828;
        text-align:left;
        border:2px solid #282828;
    }

    body{
        background:#27B4F2;
    }

    a:link, a:visited{
        color:#282828;
    }

    a:hover{
        color:#fff;
    }
}