/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@mixin sentinel {
    font-family: 'Sentinel SSm A', 'Sentinel SSm B';
    font-weight: 400;
    font-style: normal;

    -webkit-font-smoothing: antialiased;
}

@mixin antenna-bold {
    font-family: "Antenna Comp";
    font-style: normal;
    font-weight: bold;
    
    -webkit-font-smoothing: antialiased;
}

@mixin antenna-medium {
    font-family: "Antenna Comp Medium";
    font-style: normal;
    font-weight: normal;
    
    -webkit-font-smoothing: antialiased;
}

// colors
$color-res: rgb(105,230,64);
$color-pol: rgb(255,97,127);
$color-edu: rgb(255,137,49);
$color-ind: rgb(39,180,242);
$color-slate: rgb(81, 98, 114);
$white: rgb(255,255,255);

html, body {
    margin: 0;
    padding: 0;
    position: relative;

    height: 100%;
    width: 100%;
}

header {
    margin: 0;
    padding: 0;

    background: transparent;
}
header:hover {
    background: rgba(0,0,0,0.5);
}

// .full-width {
//     width: 100%;
// }

.row {
    width: 100%;
    position: relative;
}

.column {
    float: left;
    position: relative;
    display: inline;
}

.fullscreen {
    position: absolute;
    top: 0;
    bottom: 0;
    height: 100%;
    width: 100%;

    display: none;
}
.fullscreen.active {
    display: block;
}
// overlay colors
$fullscreen-color-opacity: 0.8;

.modal {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;

    overflow-y: scroll;

    &.active {
        display: block;
    }

    &.fullscreen {
        color: $white;

        background-color: rgba($color-slate, $fullscreen-color-opacity);

        &.res {
            background-color: rgba($color-res, $fullscreen-color-opacity);
        }
        &.pol {
            background-color: rgba($color-pol, $fullscreen-color-opacity);
        }
        &.edu {
            background-color: rgba($color-edu, $fullscreen-color-opacity);
        }
        &.ind {
            background-color: rgba($color-ind, $fullscreen-color-opacity);
        }
    }
}
.modal-wrapper {
    position: relative;
    width: 80%;
    max-width: 640px;
    margin: 5% auto;
}
.modal-wrapper h1 {
    @include antenna-medium;

    font-size: 120px;
    line-height: 95px;
    margin: 0;
}
.modal-wrapper p {
    @include sentinel;

    font-size: 1.2em;
    line-height: 1.8em;

    margin-top: 1.5em;
    margin-bottom: 0;
}
.modal-toolbar-button {
    padding: 10px;

    cursor: pointer;
}
.modal-nav-button.left {
    float: left;
}
.modal-nav-button.right {
    float: right;
}
.hide-til-active {
    display: none;
}
.hide-til-active.active {
    display: block;
}
.clickable {
    cursor: pointer;
}

.modal-main-area {
    width: 88.3333333%; // 530/600
    max-width: 530px;

    &.inset {
        margin-left: 40px;   
    }

    .column.two {
        width: 100%;
    }
    .column.one {
        width: 45%;
        margin-right: 5%
    }
    .column.one:nth-child(2) {
        margin-right: 0%;
    }
}
.modal-sidebar {
    width: 11.6666667%; // 70/600
    max-width: 70px;
}

.z-0 {
    z-index: 0;

    /*cursor: move;*/
}
.z-10 {
    z-index: 10;
}
.z-100 {
    z-index: 100;
}
.z-150 {
    z-index: 150;
}
.z-200 {
    z-index: 200;
}

#steamie-network .button {
    position: absolute;
    top: 100px;
    right: 100px;

    cursor: pointer;
}

/************
Global filters
*/
.filter_bar {
    position: absolute;
    top: 200px;
}
.filter_bar .button {
    width: 124px;

    font-family: "Mercury Display";
    font-weight: "light";
    font-size: 18px;

    text-align: left;

    border-top: 1px dashed rgb(204, 204, 204);

    padding: 11px 0 11px 18px;
    margin: 0;
    line-height: 0.9em;
}

.filter_bar .button {
    background-color: transparent;
    opacity: 0.5;
}
.filter_bar .button.active {
    color: $white;
    opacity: 1.0;
}
.filter_bar .button.active.res {
    background-color: $color-res;
}
.filter_bar .button.active.edu {
    background-color: $color-edu;
}
.filter_bar .button.active.pol {
    background-color: $color-pol;
}
.filter_bar .button.active.ind {
    background-color: $color-ind;
}
.filter_bar.all-active .button.active {
    background-color: transparent;
    color: rgb(128, 130, 133);
    opacity: 1.0;
}
h3.filter-by {
    @include sentinel;

    font-size: 22px;

    color: rgb(165,165,165);

    margin: 0 0 0 27px;
    padding: 0;
}
.filter_bar .button:before {
    position: relative;
    display: inline-block;

    top: 0;
    left: -9px;

    content: "";

    height: 8px;
    width: 8px;

    border-radius: 4px;
    border-width: 1px;
    border-style: solid;
}
.filter_bar .button:before {
    border-color: $white;
}
.filter_bar.all-active .button.res:before {
    border-color: $color-res;
}
.filter_bar.all-active .button.pol:before {
    border-color: $color-pol;
}
.filter_bar.all-active .button.edu:before {
    border-color: $color-edu;
}
.filter_bar.all-active .button.ind:before {
    border-color: $color-ind;
}
/* end global filters */



/************
Leaflet map styles
*/
.leaflet-top {
    top: 120px;
}
.leaflet-left {
    left: 40px;

    .leaflet-control {
        margin: 0;
    }
    .leaflet-bar {
        border: none;
    }
}

.leaflet-bar > a.leaflet-control-zoom-in,
.leaflet-bar > a.leaflet-control-zoom-out {
    height: 23px;
    width: 23px;

    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-style: solid;
    border-radius: 50%;
    
    color: rgb(204, 204, 204);
    background-color: transparent;

    @include sentinel;

    line-height: 21px;
}
.leaflet-bar > a.leaflet-control-zoom-in:hover ,
.leaflet-bar > a.leaflet-control-zoom-out:hover {
        height: 23px;
        width: 23px;
        background-color: rgb(240, 240, 240);

        line-height: 21px;
}
.leaflet-bar > a.leaflet-control-zoom-in:active ,
.leaflet-bar > a.leaflet-control-zoom-out:active {
    background-color: rgb(150,150,150);
}
a.leaflet-control-zoom-out {
    margin-top: 7px;
}
/* end Leaflet map styles */

/************
Leaflet Marker Cluster Styles
*/
$cluster-fill: rgba(78,91,109,0.8);
@mixin mixin-cluster($diameter) {
    $arc-width: 10px;
    $arc-gap: 1px;
    $arc-total-width: $arc-gap + $arc-width;

    border-radius: ($diameter/2) + $arc-total-width;

    div {
        // width of the arc
        margin: $arc-total-width;
        height: $diameter;
        width: $diameter;
        border-radius: $diameter/2;
    }

    span {
        line-height: $diameter;

        @include antenna-medium;

        font-size: 26px;
        text-align: center;
        letter-spacing: 1px;
        color: rgb(255,255,255);
    }

    div.arc-wrapper {
        border-radius: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: ($diameter + (2 * 11));
        width: ($diameter + (2 * 11));
        background-color: transparent;
        margin: 0;
    }
}

.marker-cluster {
    // background: blue;
}

.marker-cluster div {
    background-color: $cluster-fill;
}

.mc-2-digit {
    @include mixin-cluster(36px);
}
.mc-3-digit {
    @include mixin-cluster(42px);
}
.mc-4-digit {
    @include mixin-cluster(50px);
}
.mc-5-digit {
    @include mixin-cluster(54px);
}
.mc-6-digit {
    @include mixin-cluster(61px);
}
/* end Leaflet Marker Cluster Styles */




/************
network graph
*/

/* all nodes  */
.node {
    cursor: pointer;
}

.node.res {
    fill: $color-res;
    stroke: $color-res;
}
.node.pol {
    fill: $color-pol;
    stroke: $color-pol;
}
.node.edu {
    fill: $color-edu;
    stroke: $color-edu;
}
.node.ind {
    fill: $color-ind;
    stroke: $color-ind;
}
/* network nodes representing institutions  */
.node.g circle.outter {
    stroke-width: 1;
    fill: none;   
}
.node.g circle.inner {
    stroke-width: 0;
}
/* network nodes representing individuals  */
.node.i circle.outter {
    stroke-width: 0;
}
.avatar {
    width: 50px;
    height: auto;
    border-radius: 25px;
    border-width: 1px;
    border-style: solid;
}
.info_tip {
    position: fixed;
    top: 20%;
    left: 20%;

    width: 250px;

    @include sentinel;
}
.info_tip .avatar {
    position: absolute;
    top: 0;
    left: -65px;
}
.info_tip p {
    font-size: 1.1em;
    line-height: 1.5em;

    font-style: italic;
    margin: 0;
}
.info_tip p.description {
    padding-left: 15px;
    margin-top: 10px;
    border-left-width: 1px;
    border-left-style: solid;
}
.info_tip.res {
    p.name {
        color: $color-res;   
    }
    p.description {
        border-left-color: $color-res;
    }
    .avatar {
        border-color: $color-res;
    }
}
.info_tip.pol {
    p.name {
        color: $color-pol;
    }
    p.description {
        border-color: $color-pol;
    }
    .avatar {
        border-color: $color-pol;
    }
}
.info_tip.edu {
    p.name {
        color: $color-edu;
    }
    p.description {
        border-color: $color-edu;
    }
    .avatar {
        border-color: $color-edu;
    }
}
.info_tip.ind {
    p.name {
        color: $color-ind;
    }
    p.description {
        border-color: $color-ind;
    }
    .avatar {
        border-color: $color-ind;
    }
}

.canvas-wrapper {
    background: rgba($white, 0.9);
}
rect.blanket {
    fill: transparent;
    stroke: transparent;
}


/************
form / profile
*/
#activate-add-yourself {
    position: absolute;
    top: 97px;
    right: 10px;
    background-color: red;
    height: 26px;
    width: 26px;

    cursor: pointer;
}

input {
    font-size: 12px;
    padding: 5px;
}

.button {
    padding: 20px;
    background: yellow;
    border-radius: 2px;

    cursor: pointer;
}

.button.large {
    @include antenna-medium;

    font-size: 100px;
    line-height: 95px;

    border: 1px solid $white;
    background-color: transparent;
    text-align: center;
    color: $white;

    margin-top: 0.6em;
}

.button.large.enabled {
    color: $color-slate;
    background-color: $white;
}

.column.half {
    width: 45%;
    margin-right: 5%; 
}
.column.half.omega {
    margin-right: 0;
}

.add-yourself-login { }

.checkmark {
    position: absolute;
    left: -40px;
    bottom: 30px;

    display: none;
}
.checkmark.valid {
    display: block;
}

.login-option {
    position: relative;
    cursor: pointer;

    @include antenna-medium;

    font-size: 100px;
    line-height: 95px;
    margin: 0;

    border-bottom: 1px solid $white;

    color: rgba($white ,0.5);

    &:last-child {
        border-bottom: 0;
    }

    &.selected,
    &:hover {
        color: $white;
    }

    
    &.selected .checkmark  {
        display: block;
    }
}
.editable.large {
    @include antenna-medium;

    font-size: 100px;
    line-height: 95px;
    height: 95px;
    margin: 0;

    border-bottom: 1px solid $white;
    outline: none;
}
.editable {
    color: rgba($white ,0.5);
}
.editable.focused,
.editable.valid {
    color: white;
}
select {
    @include antenna-medium;

    font-size: 100px;
    margin: 0;
    
    border-radius: 0;
    background-color: transparent;
    border: 0 solid transparent;
    border-bottom: 1px solid $white;
    outline: none;
    -webkit-appearance: none;

    color: $white;
}
/* end form */

@import 'from_steam_proto_github'